<root>
	<page id="1" title="“三八”双雄战！">
		<btn type="map">310</btn>
		<btn type="module">app/CavingNoticePanel|正在打开玩转仓库面板...</btn>
	</page>
	<page id="2" title="吾乃星际使者（下）">
		<btn type="map">660</btn>
	</page>
	<page id="3" title="未曾忘却的承诺">
		<btn type="map">770</btn>
	</page>
	<page id="4" title="治愈之旅">
		<btn type="module">app/QuestPanel|正在打开任务面板...</btn>
	</page>
	<page id="5" title="治愈之力">
		<btn type="fight">13|0</btn>
	</page>
	<page id="6" title="嗨！来PK吧！">
	</page>
	<page id="7" title="训练师成长之旅">
		<btn type="module">app/TrainerPanel|正在打开训练师成长面板...</btn>
	</page>
	<page id="8" title="双生利器 双子之门">
		<btn type="map">81</btn>
	</page>
	<page id="9" title="萨伦帝国逃兵？！">
		<btn type="map">100</btn>
		<btn type="map">170</btn>
	</page>
	<page id="10" title="意见收集簿">
		<btn type="module">app/ContributePanel|正在打开投稿面板...</btn>
	</page>
	<page id="11" title="下期预告">
	</page>	
</root>