<root>
	<page id="1" title="翻斗乐赢取超炫暗夜摩托">
	</page>
	<page id="2" title="伊特家族齐登场">
		<btn type="module">app/QuestPanel|正在打开任务面板...</btn>
	</page>	
	<page id="3" title="敌报！帝国入侵！">
	</page>		
	<page id="4" title="坚强的真正含义">
		<btn type="module">app/QuestPanel|正在打开任务面板...</btn>
	</page>	
	<page id="5" title="萨兰古尔之剑">
		<btn type="module">app/QuestPanel|正在打开任务面板...</btn>
	</page>	
	<page id="6" title="乐园金字塔">
		<btn type="map">8011</btn>
	</page>	
	<page id="7" title="乐园打工近尾声">
		<btn type="map">70</btn>
	</page>	
	<page id="8" title="重夺水源之心">
	</page>
	<page id="9" title="精灵技能调整周">
	</page>
	<page id="10" title="赛尔号线下讯息">
	</page>
	<page id="11" title="下期预告">
	</page>
</root>