<root>
	<page id="1" title="星座守护精灵—射手座">
	<btn type="module">app/NewVipPanel|正在打开VIP面板...</btn>
	</page>	
	
	<page id="2" title="树屋大作战"/>
	
	<page id="3" title="观星者挑战一触即发">
	<btn type="map">8030</btn>
	</page>	
	
	<page id="4" title="圣诞奇遇之跳舞的小人儿">
	</page>	
	
	<page id="5" title="星座魔幻装—射手">
	<btn type="map">8011</btn>
	</page>	
	
	<page id="6" title="是你的天蝎装">
	</page>	
	
	<page id="7" title="最新道具上市">
	<btn type="module">app/ShopPanel|正在打开商城面板...</btn>
	</page>
	
	<page id="8" title="VIP充值活动">
	<btn type="module">app/NewVipPanel|正在打开VIP面板...</btn>
	</page>
	
	<page id="9" title="赛尔号线下讯息"/>
	
	<page id="10" title="下期预告">
	</page>
	
	<page id="11" title="Nono杂志社">
	<btn type="module">app/NewVipPanel|正在打开VIP面板...</btn>
	<btn type="module">app/ShopPanel|正在打开商城面板...</btn>
	</page>
</root>