<root>
	<page id="1" title="消失的第二个人">
		<btn type="map">310</btn>
	</page>
	<page id="2" title="埃卡维特的梦境奇遇">
		<btn type="map">70</btn>
	</page>
	<page id="3" title="好运不停留">
		<btn type="map">30</btn>
	</page>
	<page id="4" title="VIP乐园资讯">
		<btn type="map">8011</btn>
	</page>
	<page id="5" title="战队资讯">
		<btn type="map">60</btn>
	</page>
	<page id="6" title="精灵DIY">
		<btn type="copy">seerII@taomee.com</btn>
		<btn type="page">prev</btn>
		<btn type="page">next</btn>
	</page>
	<page id="7" title="意见收集簿">
		<btn type="module">app/ContributePanel|正在打开投稿面板...</btn>
	</page>
	<page id="8" title="下期预告"/>
</root>